{% extends 'first/base.html' %}
{%load static%}
{% block title %} {%endblock%}

{%block content%}

<main>
<div class="container">
  <div class="main-article">
    <a href="#" class="article-link">
      <img src="{%static 'images/avatars/handshake.jpg'%}" alt="Handshake">
      <div class="content">
          <span class="tag stock-market">Stock Market</span>
          <h2>15 Shocking Elon Musk Tweets About Stock Market</h2>
          <p class="author">akbarh &bull; June 28, 2021</p>
      </div>
    </a>
  </div>
  <div class="side-articles">
      <div class="article">
        <a href="#" class="article-link">
          <img src="{%static 'images/avatars/tech.jpg'%}" alt="Tech setup">
          <div class="content">
              <span class="tag technology">Technology</span>
              <h3>Want a Career in Technology? Make This Your Secret Weapon</h3>
              <p class="date">June 28, 2021</p>
          </div>
        </a>
      </div>
      <div class="article">
        <a href="#" class="article-link">
          <img src="{%static 'images/avatars/health.jpg'%}" alt="Health industry">
          <div class="content">
              <span class="tag health">Health</span>
              <h3>The Health Industry is Changing Fast. Here’s How to Keep Pace</h3>
              <p class="date">June 28, 2021</p>
          </div>
        </a>
      </div>
      <div class="article">
        <a href="#" class="article-link">
          <img src="{%static 'images/avatars/technology.jpg'%}" alt="Tech gadgets">
          <div class="content">
              <span class="tag technology">Technology</span>
              <h3>Everything You Ever Wanted to Know About Technology</h3>
              <p class="date">June 28, 2021</p>
          </div>
        </a>
      </div>
  </div>
</div>
<!-- middle section -->
<div class="editors-pick">
  <div class="editor-article">
    <a href="#" >
      <h4>Editors Pick | Politics</h4>
      <h3>The Frightening Affect of Climate Change on Government</h3>
    </a>
  </div>
  <div class="editor-article">
    <a href="#">
      <h4>Editors Pick | Stock Market</h4>
      <h3>The Ultimate Guide to Stock Market</h3>
    </a>
  </div>
  <div class="editor-article">
    <a href="">
      <h4>Editors Pick | Politics</h4>
      <h3>Don't Share This Politics Insider Secret</h3>
    </a>
  </div>
  <div class="editor-article">
    <a href="">
      <h4>Editors Pick | Technology</h4>
      <h3>All Your Burning Technology Questions, Answered</h3>
    </a>
  </div>
  <div class="editor-article">
    <a href="">
      <h4>Editors Pick | Stock Market</h4>
      <h3>15 Unbelievable Things You Never Knew About Stock Market</h3>
    </a>
  </div>
  <div class="editor-article">
    <a href="">
      <h4>Automobile | Editors Pick</h4>
      <h3>Automobile: All the Stats, Facts, and Data You’ll Ever Need to Know</h3>
    </a>
  </div>
</div>

<div class="banner-newsletter">
  <div class="banner">
      <h2>Payment made simple</h2>
      <p>Id ut vitae lacus, cursus sed augue dui ultricies erat sodales curabitur sit faucibus lectus sed</p>
      <button>Sign up for free</button>
  </div>
  <div class="newsletter">
      <h3>Subscribe To Our Newsletter</h3>
      <p>Egestas eu molestie lacus, rhoncus, gravida aliquet sociis vulputate faucibus tristique odio</p>
      <input type="email" placeholder="Email address">
      <button>Subscribe</button>
  </div>
</div>

<!-- third container -->

<div class="third-container">
  <div class="title-container">
    <h1 class="third-title">Stock Market</h1>
    <div class="separator"></div>
    <a href="#" class="view-all-btn">View All</a>
  </div>
  <div class="grid">
      <div class="card">
          <img src="{%static 'images/avatars/stock1.jpg'%}" alt="Stock Market 1">
          <span class="category">Stock Market</span>
          <h2>What Your Relationship With Stock Market Says About You</h2>
          <p class="meta">akbarh | June 28, 2021</p>
          <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque...</p>
      </div>
      <div class="card">
          <img src="{%static 'images/avatars/stock2.jpg'%}" alt="Stock Market 2">
          <span class="category">Stock Market</span>
          <h2>How I Learned to Stop Worrying and Love Stock Market</h2>
          <p class="meta">akbarh | June 28, 2021</p>
          <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque...</p>
      </div>
      <div class="card">
          <img src="{%static 'images/avatars/stock3.jpg'%}" alt="Stock Market 3">
          <span class="category">Stock Market</span>
          <h2>Why Stock Market Affects Men and Women Differently</h2>
          <p class="meta">akbarh | June 28, 2021</p>
          <p>Cursus iaculis etiam in In nullam donec sem sed consequat scelerisque...</p>
      </div>
  </div>
</div>
</main>
  

{%endblock%}

  