{%load static%}
 <!-- Top Navbar -->
 <div class="navbar">
  <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="logo">
      <h1>Blogly</h1>
  </div>
  <div class="btns">
      <button class="btn-login">Login</button>
      <button class="btn-subscribe">Subscribe</button>
  </div>
</div>

<div class="white-line"></div>

<!-- Navigation Links -->
<nav class="menu">
  <a href="{% url 'home' %}">Home</a>
  <a href="{%url 'stockpicker'%}">Stock Market</a>
  <a href="#">Technology</a>
  <a href="#">Politics</a>
  <a href="#">Automobile</a>
  <a href="#">Health</a>
  <a href="#">Interactive Session</a>
</nav>






